@model IEnumerable<ProjectDAO.Project>
@{
    ViewBag.Title = "ShowProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowProject</h2>

<p>
    @Html.ActionLink("Add New Project", "Create")
</p>

<p>
    @Html.ActionLink("Assign Project", "Assign")
</p>

<p>
    @Html.ActionLink("Delete Project", "DeleteView")
</p>

<p>
    @Html.ActionLink("Update Details", "UpdateView")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.Title)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            
        </tr>
    }


</table>
@{
    string alert = TempData["message"] != null ? TempData["message"].ToString() : "";
    string error = TempData["error"] != null ? TempData["error"].ToString() : "";
}

<script>
    if('@alert'!= null && '@alert' != "" && '@error' == 'False')
    {
        toastr.success('@alert', '');
    }
    else if('@error' == 'True')
    {
        toastr.error('@alert', '');
    }
</script>



